<h1 style="color: white; width: 100%; text-align: center">
  <ng-container *ngIf=" renderedTree === 'se'">Single Elimination Example</ng-container>
  <ng-container *ngIf=" renderedTree === 'de'">Double Elimination Example</ng-container>
  <br>
  <button (click)="renderedTree = 'se'">Show Single Elimination</button>
  <button (click)="renderedTree = 'de'">Show Double Elimination</button>
</h1>

<ng-container *ngIf="renderedTree === 'se'">
  <ngtt-single-elimination-tree [tournament]="singleEliminationTournament"
                                [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
</ng-container>
<ng-container *ngIf="renderedTree === 'de'">

  <ngtt-double-elimination-tree [tournament]="doubleEliminationTournament"
                                [matchTemplate]="matchTemplate"></ngtt-double-elimination-tree>
</ng-container>

<ng-template #matchTemplate let-match>
  <tt-match [match]="match"></tt-match>
</ng-template>
